// ==============================================
// FOOTER
// ==============================================

// Footer
footer {
	text-align: center;
	border-top: 4px solid $white;
	padding: 30px;
	margin-top: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $mainColor;
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}