// ==============================================
// FOOTER
// ==============================================

// Footer
footer {
	font-size: 16px;
	text-align: center;
	border-top: 4px solid $white;
	padding: 30px;
	width: 100%;
	background: $mainColor;
}

// STICKY FOOTER
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	#main-container {
		flex: 1;
	}
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}