// ==============================================
// GRID
// ==============================================

.columns {
	display: flex;
	flex: 1;
	> div {
		flex: 3;
	}
}

.single-2-side-columns {
	display: flex;
	flex: 1;
	> div {
		flex: 2;
	}
}

// ==============================================
// MOBILE
// ==============================================

@include mobile {

	.columns {
		display: block;

		> div {
			margin-bottom: 40px;
		}
	}

	.single-2-side-columns {
		display: block;
	}
}
