// ==============================================
// HEADER
// ==============================================

#main-header {

	width: 100%;
	text-align: center;

	// Main title
	h1 {
		@extend .special;
		margin-top: 0;
		font-size: 26px;
		color: #fff;
		padding: 10px;
		background: $queenBlue;

		// Disappear effect
		.disappear {
			width: 0;
		}
	}

}

// HERO
.hero {
	width: 100%;
	text-align: center;
	padding-bottom: 70px;

	// Twitter birds
	.twitter-bird {
		position: absolute;
		top: 18vw;
		left: 5%;
		background: url(../img/twitter-bird.png) 0 0 no-repeat;
		background-size: contain;
		width: 390px;
		height: 520px;
		opacity: 0.2;

		&.bird-2 {
			top: 10vw;
			left: auto;
			right: 5%;
			@include transform(scaleX(-1));
		}
	}

	// Big description
	h2 {
		margin: 40px 0 20px;
		font-size: 32px;
	}

	// Little description
	.little-description {
		position: relative;
		width: 390px;
		max-width: 90%;
		margin: 10px auto 0;
	}

	.additional-info {
		position: absolute;
		right: -7px;
		top: -5px;

		.tooltip {
			position: absolute;
			left: -10px;
			top: 56px;
			width: 122px;
			font-size: 12px;
		}

		.arrow {
			position: absolute;
			margin: 0 auto;
			background: url(../img/arrow.png) no-repeat 0 0;
			background-size: contain;
			width: 60px;
			height: 224px;
		}
	}

	h3 {
		font-weight: normal;
		font-size: 16px;
		display: inline-block;

		.to-tip {
			text-decoration: none;
			border-bottom: 1px dotted $white;
		}
	}

	// Features
	h4 {
		width: 320px;
		max-width: 90%;
		font-size: 16px;
		margin: 20px auto 10px;
		text-align: left;
	}

	.main-features {
		width: 320px;
		max-width: 90%;
		margin: 0 auto 30px;
		text-align: left;

		li {
			margin-bottom: 10px;
		}
	}

}

// LOGGED IN
.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	padding: 15px;

	.menu-option {
		text-decoration: none;
		font-size: 14px;

		i {
			font-size: 80%;
			margin-right: 5px;
		}
	}
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

	#main-header {

		// Main title
		h1 {
			font-size: 22px
		}

		h3 {
			font-size: 4.4vw;
		}

		.main-features {
			margin: 30px 60px;
			font-size: 4.4vw;
		}
	}

	.hero {

		.twitter-bird {
			&.bird-1, &.bird-2 {
				top: 23vw;
				width: 12vw;
			}
		}
	}


}