// ==============================================
// HEADER
// ==============================================

#main-header {

	width: 100%;
	text-align: center;
	padding-bottom: 70px;

	// Main title
	h1 {
		@extend .special;
		margin-top: 0;
		font-size: 26px;
		color: #fff;
		padding: 10px;
		background: $queenBlue;

		// Disappear effect
		.disappear {
			width: 0;
		}
	}

	// Big description
	h2 {
		margin: 40px 0 20px;
		font-size: 32px;
	}

	// Little description
	h3 {
		width: 390px;
		max-width: 90%;
		font-weight: normal;
		font-size: 16px;
		margin: 10px 0 0;
		display: inline-block;
	}

	.main-features {
		width: 320px;
		max-width: 90%;
		margin: 30px auto;
		text-align: left;

		li {
			margin-bottom: 10px;
		}
	}

}

// LOGGED IN
.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	padding: 15px;

	.menu-option {
		text-decoration: none;
		font-size: 14px;

		i {
			font-size: 80%;
			margin-right: 5px;
		}
	}
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

	#main-header {

		// Main title
		h1 {
			font-size: 22px
		}

		h3 {
			font-size: 4.4vw;
		}

		.main-features {
			margin: 30px 60px;
			font-size: 4.4vw;
		}
	}


}