// ==============================================
// HEADER
// ==============================================

#main-header {

	width: 100%;
	text-align: center;
	padding-bottom: 150px;

	// Main title
	h1 {
		@extend .special;
		margin-top: 50px;
		font-size: 74px;
		color: #000;
	}

	// Big description
	h2 {
		margin: 20px 0;
		font-size: 32px;
	}

	// Little description
	h3 {
		margin: 20px auto;
		width: 600px;
		max-width: 90%;
		font-size: 22px;
	}

	.main-features {
		width: 320px;
		max-width: 90%;
		margin: 30px auto;
		text-align: left;

		li {
			margin-bottom: 10px;
		}
	}

}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}