// ==============================================
// FRONT PAGE
// ==============================================
// Custom styles applied to the home page

// CTA
.cta {
	width: 410px;
	background: $white;
	box-shadow: 0 4px 3px #ddd;
	margin: 0 auto 0;
	color: $black;
	position: absolute;
	top: -140px;
	padding: 30px 40px;
	left: 50%;
	@include translateX(-50%);

	.message {
		font-size: 12px;
	}

	.follow {

		margin-top: 10px;
		margin-left: 71px;

		img {
			width: 40px;
			float: left;
			border-radius: 8px;
			margin: 0 15px 0 12px;
		}

		.form-checkbox {
			float: left;
			position: relative;
			top: 10px;
		}
		#follow-check {
			+ label {
				font-size: 14px;
			}
		}
	}
}

// PROGRESS
#progress,
#progress-render {
	display: none;
}

// ADDITIONAL INFORMATION
.information {

	color: #444;
	margin-top: 140px;

	h3 {
		color: #444;
		font-size: 22px;
		margin-bottom: 10px;
	}

	p {
		padding: 0 10px;
		font-size: 16px;
	}
}