// ==============================================
// FRONT PAGE
// ==============================================
// Custom styles applied to the home page

// CTA
.cta {
	width: 410px;
	background: $white;
	box-shadow: 0 4px 3px #ddd;
	margin: 0 auto 0;
	color: $black;
	position: absolute;
	top: -140px;
	padding: 30px 40px;
	left: 50%;
	@include translateX(-50%);

	.message {
		font-size: 12px;
	}

	.follow {

		margin-top: 10px;
		margin-left: 71px;

		img {
			width: 40px;
			float: left;
			border-radius: 8px;
			margin: 0 15px 0 12px;
		}

		.form-checkbox {
			float: left;
			position: relative;
			top: 10px;
		}
		#follow-check {
			+ label {
				font-size: 14px;
			}
		}
	}
}

// PROGRESS
#progress,
#progress-render {
	display: none;
}

// ADDITIONAL INFORMATION
.information {

	color: #444;
	margin: 140px 0 100px;

	// Title
	h3 {
		color: $queenBlue;
		font-size: 26px;
		margin-bottom: 10px;
	}

	// Description
	p {
		padding: 0 10px;
		font-size: 16px;
		line-height: 1.2;
		color: #444;
	}

	// Block and icons
	.block {
		> i {
			font-size: 60px;
			margin-bottom: 20px;
			color: $queenBlue;
		}

		br {
			height: 5px;
		}
	}
}

// NUMBERS
.numbers {

	padding: 100px;
	text-align: center;
	background: $greySeparator;
	color: #444;

	.main {

		.number {
			@extend .special;
			font-size: 90px;
			display: block;
		}

		.message {
			@extend .bold;
			display: block;
		}

	}

}