// ==============================================
// FRONT PAGE
// ==============================================
// Custom styles applied to the home page

// CTA
.cta {
	width: 390px;
	height: 104px;
	max-width: 90%;
	background: $white;
	box-shadow: 0 4px 3px #ddd;
	margin: 0 auto 0;
	color: $black;
	position: absolute;
	top: -65px;
	padding: 0 15px;
	left: 50%;
	@include translateX(-50%);

	.disclaimer {
		position: absolute;
		bottom: -36px;
		width: 100%;
		font-size: 12px;
	}
}

#main-form {
	display: none;
}

// PROGRESS
#progress {
	display: none;
	max-width: 1024px;
	margin: 30px auto;
	height: 89px;
}

#progress-render {
	display: none;
	width: 300px;
	margin: 30px auto;
}

#progress-bar {
	@include transition(width .5s ease-in-out);
	background: $queenBlue;
	width: 0;
	height: 2px;
	margin: 0;
	float: left;
}

#progress-message {
	display: block;
	padding: 15px 0;
	width: 300px;

	color: #444;
	font-size: 14px;

	&.progress {
		background: $white;
		color: $queenBlue;
	}
	&.error {
		background: #FF7256;
		color: #212021;
	}
	&.success {
		background: #93DB70;
		cursor: pointer;
		color: #212021;
		&:hover {
			background: #71b950;
		}
	}
}

#to-see-timeline {
	display: none;
}

// ADDITIONAL INFORMATION
.author {

	color: #444;
	margin: 140px 0 100px;

	// Avatar
	.avatar-container {
		margin: 0 auto 15px;
		width: 100px;
		height: 100px;

		img {
			@include transition(opacity .3s ease);
			@include X-50();
			position: absolute;
			top: 0;
			left: 50%;
			width: 100px;
			border-radius: 50%;

			&:last-child {
				opacity: 0;
			}
		}

	}

	// Title
	h3 {
		color: $queenBlue;
		font-size: 20px;
		margin-bottom: 10px;
	}

	// Checkbox
	label {
		font-size: 16px;
	}

	// Description
	p {
		padding: 0 10px;
		font-size: 14px;
		line-height: 1.2;
		color: #444;

		.highlighted {
			color: #666;
			font-weight: bold;
		}
	}

}

// NUMBERS
.numbers {

	padding: 100px;
	text-align: center;
	background: $greySeparator;
	color: #444;

	.main {

		.number {
			@extend .special;
			font-size: 90px;
			display: block;
		}

		.message {
			@extend .bold;
			display: block;
		}

	}

}

// ==============================================
// MOBILE
// ==============================================

@include mobile {

	// CTA
	.cta {
		padding: 0;
	}

	// INFORMATION
	.author {
		display: block;
		margin: 100px 0 50px;
	}

}