// ==============================================
// VIEW LIST PAGE
// ==============================================
// Custom styles applied to the view list page

.view-list-page {

	padding: 50px;
	color: #444;

	a {
		color: #444;
	}

	.disclaimer {
		font-size: 12px;
	}

	.title {
		font-weight: bold;
		margin-bottom: 5px;
	}

	> span {
		display: block;
	}
}

// ==============================================
// MOBILE
// ==============================================

@include mobile {

}