// ==============================================
// COLORS
// ==============================================

// FIRST WE DEFINE DESCRIPTIVE COLORS
// Color names provided by http://chir.ag/projects/name-that-color/
// The method to create the name is: "Closest standard color" name + "Name that color" name (brown + dark ebony)

// Example colors
$greyGallery: #efefef;
$blackTundora: #444;
$creamFoam: #eaf7fd;
$creamSatinLinen: #E1DECE;
$dodgerBlue: #5797fe;

// Basic colors
$white: #ffffff;
$black: #333;


// NOW WE DEFINE FUNCTIONS

// General functions
$mainColor: $dodgerBlue;
$backgroundColor: $dodgerBlue;
$blackLight: $blackTundora;
$underlineColor: $greyGallery;
$greySeparator: $greyGallery;

// Gradients
%exampleCreamGradient {
  @include bbg(top, bottom, $creamFoam, $creamSatinLinen);
}

// Note: custom function colors are included in their belonging files